@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/css/client.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <!--HEADER-->
    <div id="header-top">
        <div class="row">
            <div class="col-md-6 left-header">
                <ul>
                    <li>
                        <div id="header-msg">
                            <label id="label-msg">6 giờ trước</label>
                            <a title="Toan vua mua khoa hoc " href="#">Toan vua mua khoa hocfsjfisidjfsojdfjsojf</a>
                        </div>
                    </li>
                </ul>
                

            </div>
            <div class="col-md-6 right-header">
                <div class="header-link">
                    <a href="#" class="hlink">Youtube Channel</a>
                    <a href="#" class="hlink">Knowlegde Base</a>
                    <a href="@Url.Action("Login", "Authenticate")" class="hlink">Login</a>
                    <a href="@Url.Action("Register", "Authenticate")" class="hlink">Register</a>
                </div>

            </div>
        </div>
    </div>
    <div class="header-center">
        <div class="row">
            <div class="col-md-4">
                <div id="logo">
                    <a href="#">
                        <h1>KrakenForce</h1>
                    </a>

                </div>
            </div>
            <div class="col-md-8">
                <div class="nav-bar">
                    <ul>
                        <li><a href="">Introduction</a></li>
                        <li><a href="">Student Opinion</a></li>
                        <li><a href="">Course</a></li>
                        <li><a href="">Teacher</a></li>
                        <li><a href="">Combo</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Topic</a></li>
                        <li><a href="">Learning Path</a></li>
                        <li><a href="">Instruction</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!--SLIDER-->
    <div class="slider-container">
        <div class="row">
            <div class="col-md-4">
                <div class="category-nav">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Knowlegde</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">All Course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Web Development</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Basic Programming</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Desktop Application Programming</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Modile Programming</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bonus Course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tech News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Share</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Combo</a>
                        </li>



                    </ul>
                </div>

            </div>
            <div class="col-md-8">
                <div class="searchSection">
                    <input id="search-input" placeholder="Search anything you like" />
                    <button id="search-button"><i class="fas fa-search search-icon"></i></button>
                </div>
                <div class="slide-section">
                    <img src="~/image/content/LoginBg.jpg" class="imgSlide" />
                </div>
            </div>
        </div>
    </div>

    <!--MAIN CONTAINER-->
    <div class="main-container">
        @RenderBody()
    </div>

    <br />
    <!--FOOTER-->
    <div class="footer">
        <footer>
            <div class="top-footer">
                <div class="row">
                    <div class="col-md-3">
                        <div class="tft-item">
                            <h3>Toan Ngo</h3>
                            <h6>Toan Ngo - For the Victory</h6>
                            <button>Introduction</button>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="tft-item lp">
                            <h6>Latest Post</h6>
                            <ul>
                                <li>
                                    <a href="">
                                        <div class="ft-news-body">
                                            <img src="~/image/content/kudos.jpg" />
                                            <p>The New Course was created dfioje</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div class="ft-news-body">
                                            <img src="~/image/content/kudos.jpg" />
                                            <p>The New Course was created dfioje</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <div class="ft-news-body">
                                            <img src="~/image/content/kudos.jpg" />
                                            <p>The New Course was created dfioje</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="tft-item qa">
                            <h6>Quick Access</h6>
                            <ul>
                                <li><a href="">Introduction</a></li>
                                <li><a href="">Quaranty Policy</a></li>
                                <li><a href="">Security Policy</a></li>
                                <li><a href="">Shipping Policy</a></li>
                                <li><a href="">Payment Method</a></li>
                                <li><a href="">Messenger Policy</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="info-reg">
                            <div class="info-reg-body">
                                <div class="reg-body-img">
                                    <img src="~/image/content/LoginBg.jpg" alt="" />
                                    <div class="reg-img-text">

                                    </div>
                                </div>
                                <div class="reg-body-form container-fluid">
                                    <div class="body-form">
                                        <form>
                                            <input id="reg-input" type="text" class="form-control" />
                                            <a href="" class="btn btn-primary">Register</a>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="tag">
                        dfsjfjsdiosfijosdjfosjiof
                    </div>
                </div>
            </div>
            <div class="bott-footer">
                <div class="row">
                    <div class="col-md-3">
                        <label for="email"><i class="fas fa-envelope"></i></label>
                        <a href="" class="btft-link" name="email" id="email">ngotoanlibra@gmail.com</a>
                    </div>
                    <div class="col-md-2">
                        <label><i class="fas fa-mobile"></i></label>
                        <a href="" class="btft-link" name="email" id="email">+84-984685751</a>
                    </div>
                    <div class="col-md-4">
                        <label><i class="fas fa-location-arrow"></i></label>
                        <a href="" class="btft-link" name="email" id="email">26 Ngo Van So Str, An Nhon, Binh Dinh</a>
                    </div>
                    <div class="col-md-3">
                        <a href="" class="btft-link" name="email" id="email">Copywrite &#169; 2021 Toan Ngo</a>

                    </div>
                </div>
            </div>

        </footer>
    </div>


    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
</body>
</html>
