
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_layoutAuthenticate.cshtml";
}

<div class="container">
    <div class="myCard">
        <div class="row">
            <div class="col-md-6">
                <div class="myLeftCtn">
                    <form action="@Url.Action("ForgotPasswordFeature")" method="post" class="myForm text-center">
                      

                        <header>Forgot Your Password</header>

                        <div class="form-group">
                            <i class="fas fa-user"></i>
                            <input class="myInput" type="text" placeholder="Username" id="username" name="username" required>
                            <div class="invalid-feedback">Please fill out this field</div>
                        </div>

                        <div class="form-group">
                            <i class="fas fa-envelope"></i>
                            <input class="myInput" type="email" placeholder="Email" id="email" name="email" required>
                            <div class="invalid-feedback">Please fill out this field</div>
                        </div>

                        <input type="submit" class="butt" value="Get Password">
                        <div class="myFormFooter">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="@Url.Action("Login")">Login</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="@Url.Action("Register")">Register</a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="myRightCtn">
                    <div class="box">
                        <header>Hello World!</header>
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500
                    </p>
                    <input type="button" class="butt_out" value="Learn More">
                </div>
            </div>
        </div>
    </div>

</div>

<!--Modal Alert-->
<div class="modal fade" id="alertModel" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>@ViewBag.alert</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.alert != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#alertModel").modal('show');
        });
    </script>
}

